@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script&family=Neucha&family=Nova+Square&display=swap');
@font-face {
    font-family: 'Morion';
    src: url('./morion-regular.c5d43538.woff2') format('woff2'); /* Adjust the file extension and path accordingly */
    font-weight: normal;
    font-style: normal;
  }