.bg-img{
    /* background-image: url('./resources/main-page-bg.png');
    background-size: cover; */
    height: 100vh;
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

/* .title{

} */

.background{
    transform: translateZ(-10px) scale(2);
}

.foreground{
    transform: translateZ(5px) scale(1.5);
}

.paralax-div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}