.group {
    position: relative;
    overflow: hidden;
    width: 1/5;
    height: full;
    padding: 6;
    color: white;
    border-radius: lg;
    box-shadow: lg;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.1);
  
    border: 3px solid;
    border-image-source: linear-gradient(to right, #4c8bf5, #743ad5, #45a747);
    border-image-slice: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-width 0.3s ease;
  }
  
  .group::before,
  .group::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
  }
  
  .group::before,
  .group::after {
    border: 3px solid transparent;
    border-image-source: linear-gradient(to right, #4c8bf5, #743ad5, #45a747);
    border-image-slice: 1;
    background-clip: padding-box;
    content: '';
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .group:hover::before,
  .group:hover::after {
    opacity: 1;
    border-color: transparent; /* Hide border color on hover */
  }
  
  .group:hover {
    border-width: 6px; /* Increase border-width on hover */
  }
  